
body {

    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color: rgba(169, 176, 193, 0.367);;
    font-family: 'Proxima Nova', sans-serif;
    cursor: pointer; 
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    line-height: 3.0; /* or 'bold' as a fallback */
}
/* Add a background to unordered lists in the "About" section */




/* Header styles */
header {
    background-color: rgb(0, 0, 66);
    color:#000000 ;

    padding: 20px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; 
}
h2{
    color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #00000071;
  cursor: pointer; 
}
.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer; 
}

.logo img {
    width: 20px; 
    height: 20px; 
    margin-left: 5px;
    cursor: pointer; 
}

.logo span {
    font-size: 15px;
    margin-left: 12px;
    cursor: pointer; 
    
}
.logo span:hover{
color:  #ffffff;
cursor: pointer;
transition: ease-out;
cursor: pointer; 
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer; 
}

nav ul li {
    margin-right: 50px;
    cursor: pointer; 
}

nav ul li a {
    text-decoration: none;
    color: #ffffffde; 
    font-weight: bold;
    cursor: pointer; 
}

nav ul li a:hover {
    color:#000000;
    cursor: pointer; 
     
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px;
    line-height: 2.5;
    margin-top: 100px;
    cursor: pointer; 
    
}

.home-content {
    flex: 1;
    padding: 20px;
    cursor: pointer; 

}
.home-content p{
    margin-left: 80px;
    cursor: pointer; 
}
.image-animation {
    flex: 1;
    text-align: right;
    border-radius: 50%;
    cursor: pointer; 
}

.large-image {
    width: 400px;
     margin-right: 10px;
     float: right;
     box-shadow: 0 0 30px rgba(0, 0, 0, 0.995);
     border-radius: 50%;
     cursor: pointer; 
     
}
.image-animation {
    width: 100%;
   
    margin-right: 10px;
    cursor: pointer; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    cursor: pointer; 
}
.image-animation{
    margin-right: 150px;
    cursor: pointer; 
}

.image-ani {
    max-width: 400px;
    height:500px;
    margin-top: -200px;
    object-fit: cover;
    border-radius: 50%;
   text-align: right;
    float: right;
    margin-right: 20px; /* Adjust the margin as needed */
    box-shadow: rgba(0, 0, 0, 0.3);
    cursor: pointer; 
    
}


.about-content {
    flex: 1;
    padding: 20px;
    overflow: hidden; 
    cursor: pointer; 
}



#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    line-height: 2.5;
    cursor: pointer; 
}
section:not(:last-child) {
    margin-bottom: 10px; 
    cursor: pointer; 
}
/* Add a transition to the "View my resume" link */
a[href="https://drive.google.com/drive/folders/1BWNB9rxGrS-9jcjOFJLEOqL2ihoUIlvW"] {
    transition: color 0.3s ease;
    background-color: #f7f7f7; /* Set the background color you want */
    padding: 20px 20px; /* Add padding to create space around the link */
    border-radius: 5px; /* Add rounded corners */
    color: #fff; /* This transition affects the color property over 0.3 seconds with ease-in-out timing */
    text-decoration: none;
    color: rgb(0, 0, 66); /* Set the initial color of the link */
    border-bottom: 1px solid  rgb(0, 0, 66);
    cursor: pointer; 
}

/* Change the link color on hover */
a[href="https://drive.google.com/drive/folders/1BWNB9rxGrS-9jcjOFJLEOqL2ihoUIlvW"]:hover {
    color: #ff5722; 
    border-bottom: 1px solid transparent;
    cursor: pointer; /* Set the color you want when hovering over the link */
}

#about h3{
    text-shadow: 2px 2px 4px #00000071;
}  
.passion-list {
    margin-left: 120px;
}

/* Add a transition effect to the summary */
summary {
    
    transition: transform 0.2s ease, cursor 0.2s ease;
    cursor: pointer; 
}

/* Apply the hover effect */
summary:hover {
    cursor: pointer;
    transform: scale(1.1) translateX(0);
    cursor: pointer;  /* Adjust the scale factor and translateX value as needed */
}
.background-paragraph {
   background-image: url('makeupee.webp');
    background-size: 25%; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20px;
    background-position: left cover ; 
      cursor: pointer; /* Add padding to the paragraph if needed */
 }
 .background-paragraph p{
    margin-left: 150px;
    cursor: pointer; 
 }
 .bg-paragraph{
    background-image: url('pose.webp');
    background-size: 25%; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20px;
    background-position: left cover ;
    cursor: pointer; 
 }
 .bg-paragraph p{
    margin-left: 150px;
    cursor: pointer; 
 }
.b-paragraph{
    background-image: url('sing.webp');
    background-size: 25%; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20px;
    background-position: left cover ;
    cursor: pointer; 
}
.b-paragraph p{
    margin-left: 150px;
    cursor: pointer; 
}
.bi-paragraph{
    background-image: url('digi.webp');
    background-size: 25%; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20px;
    background-position: left cover;
    cursor: pointer;  
}
.bi-paragraph p{
    margin-left: 150px;
    cursor: pointer; 
}
#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    line-height: 2.5;
    cursor: pointer; 

    
}
.horizontal-list {
    list-style: none; /* Remove default list bullets */
    padding: 0;
    cursor: pointer;  /* Remove default list padding */
}

.horizontal-list li {
    display: inline; /* Display list items horizontally */
    margin-right: 70px;
    cursor: pointer; 
    /* Add spacing between list items */
}

.projects-content{
    flex: 1;
    padding: 20px;
    cursor: pointer; 
}

.projects-content h3{
    text-decoration: underline;
    cursor: pointer; 
    
}
.small-image {
    width: 250px; 
    height:140px;
    cursor: pointer;   /* Adjust the height as needed */
}
.smal-image{
    width: 140px; 
    height:140px ;
    cursor: pointer; 
    
}
.sma-image{
    width: 140px; 
    height:140px ;
    cursor: pointer; 
  
}
.sm-image{
    width: 140px; 
    height:140px ;
    cursor: pointer; 

}
.bg-android{
    background-image: url('android.webp');
    background-size: 15%; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20px;
    background-position: left cover ;
    cursor: pointer; 
}
.bg-android p{
  margin-left: 150px;
  cursor: pointer; 
    
}
.bg-backend{
    background-image: url('sqlback.jpeg');
    background-size: 25%; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20px;
    background-position: left cover;
    cursor: pointer; 
}
.bg-backend p{
    margin-left: 280px;
    cursor: pointer; 
}
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    line-height: 2.5;
    cursor: pointer; 
}
.contact-content{
    flex: 1;
    padding: 20px;
    overflow: hidden;
    cursor: pointer; 
}
.contact-content h3{
    cursor: pointer;
    color: #e0e0e0;
    background-color: rgb(0, 0, 66);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    text-decoration-style: dashed;
    display: inline-block;
    margin-left: 500px;
    padding: 30px; /* Add padding to create space around the icons */
    border: 1px solid #6c6c6c;
    
    
    
}
.contact-content h3 :hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) ;
    cursor: pointer;
}
.horiz-list{
    list-style: none; /* Remove default list bullets */
  
    cursor: pointer;
    
}
.horiz-list li {
    display: inline; /* Display list items horizontally */
    margin-right: 70px;
    cursor: pointer; 
    
    /* Add spacing between list items */
}
.contact-icons-container {
    background-color: #c7c7c7; /* Set the background color */
    padding: 30px; /* Add padding to create space around the icons */
    border: 1px solid #575757; /* Add a border for the rectangular background */
    display: inline-block;
    margin-left: 10px; 
    background-position: center;
    /* Prevent the container from taking the full width */
}
#copyright {
    font-size: 15px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
.smalee{
    height: 35px;
    width: 35px;
}


